html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
}

.canvas {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
}

.game-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    color: #ff4456;
}

.gummy-icon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.startButton {
    display: none;
}

.audioButton {
    margin-top: 30px;
    display: none;
    background-color: aqua;
}